div:focus {
  outline: none;
}

.blink {
  border-right: 1px solid transparent;
  margin-right: -1px;
  animation: blink-animation 0.75s infinite;
  -webkit-animation: blink-animation 0.75s infinite;
}
@keyframes blink-animation {
  to {
    border-right: 1px solid #e6e6e6;
  }
}
@-webkit-keyframes blink-animation {
  to {
    border-right: 1px solid #e6e6e6;
  }
}
