.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #3b3b3b;
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #252525;
  padding: 16px 20px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .modal-card {
    padding: 16px 16px;
  }
}